<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../static/css/style.css"> 
  <title>İsraf Önleme Projesi</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>İsraf Önleme Projesi</h1>
      <p>Girişimde bulunun ve israf sorununu çözün!</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title main__title--margin">Sonuçlarınız</h2>
    <div class="main__rez" id="end">
      
        {% if size == "1-3" and lights == "Evet" and device == "1-3" %}
        <img class="rez__img" src="https://image.gazetevatan.com/i/gazetevatan/75/1200x675/65ba581ae14f2adf329ec05f.jpg" alt="">
        <span>İsrafı önlediniz!</span>
        

        {% elif size == "1-3" and lights == "Evet" and device == "3-4" %}
        <img class="rez__img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiZoQoHA_JzWv6Tr0fmT-D9X-RTZN3ngUtiw&s" alt="">
        <span>İsrafı hala önlemeyi başarmış değilsiniz!</span>
        

        {% elif size == "1-3" and lights == "Evet" and device == "5+" %}
        <img class="rez__img" src="https://media.istockphoto.com/id/1035586818/tr/vekt%C3%B6r/hay%C4%B1r-giri%C5%9F-i%C5%9Fareti.jpg?s=612x612&w=0&k=20&c=XTRq-9JLQgttFsIbNlPnAs87i255dyHIl74-vYqabxA=" alt="">  
        <span>İsrafı önlemeyi başaramadınız!</span>
        <span>İsrafı önlemeye yardımcı olmak ister misin? Formu doldurun ve size israfı önlemeniz için yardım edelim!</span>
        <a href="{{ url_for('form') }}">Bağlantı</a> 
        

        {% elif size == "3-4" and lights == "Evet" and device == "1-3" %}
        <img class="rez__img" src="https://image.gazetevatan.com/i/gazetevatan/75/1200x675/65ba581ae14f2adf329ec05f.jpg" alt="">
        <span>İsrafı önlediniz!</span>
        

        {% elif size == "3-4" and lights == "Evet" and device == "3-4" %}
        <img class="rez__img" src="https://image.gazetevatan.com/i/gazetevatan/75/1200x675/65ba581ae14f2adf329ec05f.jpg" alt="">
        <span>İsrafı önlediniz!</span>
        

        {% elif size == "3-4" and lights == "Evet" and device == "5+" %}
        <img class="rez__img" src="https://media.istockphoto.com/id/1035586818/tr/vekt%C3%B6r/hay%C4%B1r-giri%C5%9F-i%C5%9Fareti.jpg?s=612x612&w=0&k=20&c=XTRq-9JLQgttFsIbNlPnAs87i255dyHIl74-vYqabxA=" alt="">  
        <span>İsrafı önlemeyi başaramadınız!</span>
        <span>İsrafı önlemeye yardımcı olmak ister misin? Formu doldurun ve size israfı önlemeniz için yardım edelim!</span>
        <a href="{{ url_for('form') }}">Bağlantı</a> 
     

        {% elif size == "5+" and lights == "Evet" and device == "1-3" %}
        <img class="rez__img" src="https://image.gazetevatan.com/i/gazetevatan/75/1200x675/65ba581ae14f2adf329ec05f.jpg" alt="">
        <span>İsrafı önlediniz!</span>
        

        {% elif size == "5+" and lights == "Evet" and device == "3-4" %}
        <img class="rez__img" src="https://image.gazetevatan.com/i/gazetevatan/75/1200x675/65ba581ae14f2adf329ec05f.jpg" alt="">
        <span>İsrafı önlediniz!</span>
       

        {% elif size == "5+" and lights == "Evet" and device == "5+" %}
        <img class="rez__img" src="https://media.istockphoto.com/id/1035586818/tr/vekt%C3%B6r/hay%C4%B1r-giri%C5%9F-i%C5%9Fareti.jpg?s=612x612&w=0&k=20&c=XTRq-9JLQgttFsIbNlPnAs87i255dyHIl74-vYqabxA=" alt="">  
        <span>İsrafı önlemeyi başaramadınız!</span>
        <span>İsrafı önlemeye yardımcı olmak ister misin? Formu doldurun ve size israfı önlemeniz için yardım edelim!</span>
        <a href="{{ url_for('form') }}">Bağlantı</a> 
        
      {% endif %}
    </div>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
